{{> head }}



    {{> navbar }}

    
    <div class="row">
        <div class="col-8">
            <h1>Foto de perfil</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquam deleniti repellat! Nostrum dolore maxime vero magnam nam deleniti totam voluptatum vitae animi velit, similique numquam debitis sed quibusdam adipisci.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/profile.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer}}